# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.myenv/
.env.local
!.env.production


# Database files
*.db
instance/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Uploads
uploads/

# Python packaging
*.egg-info/
dist/
build/

# IDE/editor settings
.vscode/
.idea/

# Node.js dependencies (React frontend)
node_modules/

# React build outputs
frontend/my-app/build/
frontend/my-app/dist/

# Misc
*.bak
*.swp

# Ignore local env but allow production env
.env.local
!frontend/my-app/.env.production

